<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <!--This must be set to the location of the driver executables-->
    <add key="DriverPath" value="C:\Users\j_sti\source\repos\AutomationToolKit\WebAndWebApiAutomation\bin\Debug\"/>
  </appSettings>  
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="file"/>
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\WebAndWebApiAutomation.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>