<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--This must be set to the location of the driver executables-->
    <add key="DriverPath" value="C:\Users\j_sti\source\repos\AutomationToolKit\WebAndApiAutomation\bin\Debug\netstandard2.0\"/>
  </appSettings>
</configuration>