@using Banner.Foundation.SitecoreExtensions;
@model Banner.Project.Common.Areas.Cards.Models.TextCard

@if (Model == null)
{
    return;
}

<!--Display Hero Image-->
@if (!MvcHtmlString.IsNullOrEmpty(Model.ImageURL))
{
    <div uatid="@FieldExtensions.UATID" class="background-image-without-text">
        @Model.ImageURL
    </div>
}