@using Banner.Foundation.Services.Kyruus.DataModels;
@using Banner.Foundation.SitecoreExtensions;
@using Banner.Project.Common.Areas.Cards.Models
@model Tuple<ShellCard, KyruusSettings>

<!--==================== BannerHealth: Physician Directory: Physician Search =============================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.kyruus.com/lib/kyruus-search-widget/version/2/kyruus-search-widget.min.js"></script>
<script src="/static/assets/toolkit-redesign/scripts/kyruusSearchWidget.js"></script>

<div UAT="@FieldExtensions.UATID" id="physician_search" class="kyruus-widget shell-card bg-primary background-pattern-dotted animate mb-4" data-js="animate-background">
    <div class="container">
        <div class="form-row d-inline">
            <div class="col-12 mb-lg-5 center-content">
                <h3 class="shell-card-title text-center text-white mb-0">
                    @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.Title))
                    {
                        <b>@Model.Item1.Title</b>
                    }
                </h3>
            </div>
            <div id="kyruus-search-widget"></div>
        </div>
    </div>
    @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.ImageURL))
    {
        <div class="icon-svg">

            <b>@Model.Item1.ImageURL</b>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        __bhPhysicianSearch = __bhPhysicianSearch || {};
        __bhPhysicianSearch.physicianSearch = {
            locationCallback: function (response) {
                $("#location").val(response.PostalCode);
            },

            //legacy function, not getting use now.
            defaultLocationToSetLocationZipCode: function () {  //Called after creating the search widget to copy the "set" location zip code into the location textbox.
                var address = $("#myLocation span.setlocale").text();
                if (address === "Set My Location") {   //Set Location not done yet
                    return;
                }
                //The address is in the format: " Phoenix, AZ 85006"
                //Pull out the zip code.
                var index = address.lastIndexOf(" ");
                if (index < 0) {
                    return;
                }
                var zipCode = address.substring(index + 1);
                if (zipCode.length != 5) {
                    return;
                }
                __bhPhysicianSearch.kyruusSearchWidget.setLocation(zipCode);
            },

            setWidgetsParentSize: function () {
                var theParent = $("#physician_search").parent();
                theParent.css("width", "100%");
                theParent.css("margin", "0");
                theParent.css("padding", "0");
            }
        };

        //__bh.kyruusSearchWidget.injectKyruusSearchWidget("//doctors.bannerhealth.com", "banner");
        __bhPhysicianSearch.kyruusSearchWidget.injectKyruusSearchWidget("//@Model.Item2.SiteHostHeader", "@Model.Item2.CustomerCode");
        __bhPhysicianSearch.kyruusSearchWidget.injectUseMyLocationButton();
        __bhPhysicianSearch.kyruusSearchWidget.setWidgetStyles();
        __bhPhysicianSearch.physicianSearch.setWidgetsParentSize();
        __bhPhysicianSearch.physicianSearch.defaultLocationToSetLocationZipCode();

        //Define this control's physicianSearch "JS class".
        //Event handling for when the user clicks the Use My Current Location link in the search widget.
        $("#bh-useMyLocationLink").click(function () {
            __bhPhysicianSearch.userLocation.getCurrentLocation(__bhPhysicianSearch.physicianSearch.locationCallback);
        });
    });
</script>
<!--==================== /BannerHealth: Physician Directory: Physician Search =============================-->