@using Banner.Feature.Location.Models
@using Sitecore.Mvc
@using Banner.Foundation.Dictionary.Extensions
@using Banner.Foundation.SitecoreExtensions
@using Sitecore;

@model string


@{
	if (Model == null)
	{
		return;
	}

	string linkText = "";

	linkText += Html.Sitecore().Dictionary("/Features/Common/Cards/View All", "View All");
	linkText += " " + Sitecore.Context.Item.Name + " ";
	linkText += Html.Sitecore().Dictionary("/Features/Location/Locations", "Locations");

}

<div uatid="@FieldExtensions.UATID" class="col-12 d-flex flex-column align-items-center pt-4 pt-sm-5">
	<a href="@Model" class="card-location-link">@linkText</a>
</div>